GOOGLE_CLIENT_ID=google_client_id
GOOGLE_SERVER_ID=google_server_id
SUPABASE_BASE_URL=supabase_base_url
SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key
CASHFREE_CLIENT_ID=your_cashfree_client_id
CASHFREE_CLIENT_SECRET=your_cashfree_client_secret
CASHFREE_ENV=sandbox

